body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f5f5dc;
}

header,
footer,
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

@media all and (min-width: 640px) {
  header,
  footer,
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

header,
footer {
  color: white;
  background-color: #3f50b1;
}

header ul {
  padding: 0;
}

header li {
  font-size: 14px;
  padding: 6px;
  display: inline;
}

@media all and (min-width: 640px) {
  header li {
    font-size: inherit;
    padding: 14px;
    display: inline;
  }
}

@media all and (min-width: 640px) {
  header li {
    font-size: inherit;
    padding: 14px;
    display: inline;
  }
}

header a {
  color: white;
}

footer {
  text-align: center;
}

h1 {
  padding-top: 0px;
  padding-bottom: 10px;
}

header a,
header a:visited,
footer a,
footer a:visited {
  color: white;
}

p {
  font-size: 14px;
}

@media all and (min-width: 640px) {
  p {
    font-size: inherit;
  }
}

td,
th {
  padding: 4px;
}

.games-table {
  font-size: 12px;
  margin: 0 auto;
}

@media all and (min-width: 640px) {
  td,
  th {
    padding: 18px;
  }
  .games-table {
    font-size: inherit;
  }
  /* .games-table td {
    padding: 14px
  } */
}
a:hover {
  color: hotpink;
}

.field {
  margin: 10px;
  margin: 20px;
  font-size: 18px;
}

textarea,
input,
select {
  max-height: 100px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 16px;
  padding: 6px;
}

.board td {
  border: 1px solid black;
  padding: 0;
  width: 50px;
  height: 50px;
  margin: 0;
  text-align: center;
}
.board input {
  background-color: white;
  border: 0;
  width: 50px;
  height: 50px;
  margin: 0;
}
.inactive {
  color: gray;
}
.won,
.won a {
  color: green;
}
.draw,
.draw a {
  color: brown;
}
label {
  font-size: 20px;
}
