body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #84D1E0;
}
table {
  border-collapse: collapse;
}
td, td, th {
  padding: 14px;
}
header, footer, .container {
  background-color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 4px solid #69A7B3;
  padding: 0px 40px;
  font-size: 18px;
}
header ul {
  padding: 0;
}
header li {
  display: inline;
  padding: 0 8px;
  font-size: 18px;
}
header a {
  text-decoration: none;
}
footer {
  text-align: center;
  font-size: small;
}
.container {
  max-width:800px;
  margin: 20px auto;
}
h1 a {
  text-decoration: none;
}

a:hover {
  color: gray;
}
.field {
  margin: 10px;
  margin: 20px;
}

textarea, input {
  max-height: 100px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 16px;
  padding: 6px;
}

.board td {
  border: 1px solid black;
  padding: 0;
  width: 50px;
  height: 50px;
  margin: 0;
  text-align: center;
}
.board input {
  background-color: white;
  border: 0;
  width: 50px;
  height: 50px;
  margin: 0;
}
.inactive {
  color: gray;
}
.won, .won a {
  color: green;
}
.draw, .draw a {
  color: brown;
}